* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Raleway.woff2") format("woff2"), url("../fonts/Raleway.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Raleway.woff2") format("woff2"), url("../fonts/Raleway.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff");
  font-style: normal;
}

:root {
  --accent-color-1: #4285F4;
  --accent-color-2: #EC5863;
  --dark-color: #000;
}

body.-lock {
  overflow: hidden;
}

body.-burger-lock {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: -webkit-min-content;
  width: min-content;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-1);
}

.container {
  max-width: 1082px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h2 {
  font-family: "Rubik-Bold";
  font-size: 44px;
  line-height: 126%;
  color: var(--dark-color);
}

h3 {
  font-family: "Rubik-Regular";
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

.btn {
  cursor: pointer;
  background-color: var(--accent-color-2);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font-family: "Raleway-ExtraBold";
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: var(--accent-color-2) 0 0px 10px;
          box-shadow: var(--accent-color-2) 0 0px 10px;
}

.-ibg {
  position: relative;
}

.-ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__container {
  min-height: 114px;
  max-width: 1112px;
  margin: 0 auto;
  padding-inline: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo-block {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
  z-index: 10;
}

.nav__logo {
  width: 40px;
  height: 40px;
}

.nav__logo-text {
  font-family: "Rubik-Bold";
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-color);
}

.nav__logo-text span {
  color: var(--accent-color-2);
}

.nav__links {
  width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.nav__links .nav__link a {
  font-family: "Raleway-Bold";
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: var(--dark-color);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav__links .nav__link a:hover {
  color: var(--accent-color-2);
}

.nav__app {
  width: 130px;
  height: 40px;
  background-color: var(--accent-color-1);
}

.nav__app:hover {
  -webkit-box-shadow: var(--accent-color-1) 0 0px 10px;
          box-shadow: var(--accent-color-1) 0 0px 10px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup.-open {
  opacity: 1;
  visibility: visible;
}

.popup.-open .popup__content {
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.popup__content {
  min-width: 300px;
  background-color: #FFF;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup__close {
  z-index: 5;
  width: 30px;
  height: 17px;
  position: relative;
  cursor: pointer;
}

.popup__close::before,
.popup__close::after {
  z-index: 5;
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  background-color: var(--dark-color);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.popup__close::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.popup__close::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.popup__close:not(:first) {
  margin-top: 15px;
}

.popup__title {
  margin-top: 4px;
  font-family: "Rubik-Bold";
  font-size: 16px;
  line-height: 126%;
  color: var(--dark-color);
}

.popup__text {
  margin-top: 15px;
}

.popup__text:not(:last-child) {
  margin-bottom: 15px;
}

.header {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__left {
  max-width: 500px;
}

.text__right {
  max-width: 547px;
}

.text__title:not(:last-child) {
  margin-bottom: 12px;
}

.text__title span {
  color: var(--accent-color-1);
}

.text__subtitle {
  max-width: 375px;
}

.text__subtitle:not(:last-child) {
  margin-bottom: 24px;
}

.text__btn {
  width: 144px;
  height: 40px;
}

.text__img {
  width: 547px;
  height: 394.42px;
}

.text__lower {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.text__ico {
  width: 44px;
  height: 44px;
}

.text__lower-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text__lower-title {
  font-family: "Rubik-Regular";
  font-size: 13px;
  line-height: 126%;
  color: #B0B0B0;
}

.text__lower-title:not(:last-child) {
  margin-bottom: 5px;
}

.text__lower-subtitle {
  font-family: "Rubik-Regular";
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  color: var(--dark-color);
}

.header__text-decoration {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 700px;
  width: 36vw;
  background: var(--accent-color-2);
  border-radius: 30px 0px 0px 30px;
}

.safe {
  margin-top: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.safe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.safe__left {
  max-width: 500px;
}

.safe__right {
  width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.safe__title:not(:last-child) {
  margin-bottom: 12px;
}

.safe__title span {
  color: var(--accent-color-2);
}

.safe__subtitle {
  max-width: 360px;
}

.safe__subtitle:not(:last-child) {
  margin-bottom: 24px;
}

.safe__img {
  width: 229px;
  height: 459px;
  border-radius: 16px;
  position: relative;
}

.safe__decoration-bar {
  z-index: -1;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 206px;
  height: 27px;
  background-color: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
}

.text__decoration {
  position: absolute;
  background-color: var(--accent-color-2);
  border-radius: 30px;
  z-index: -2;
}

.safe__decoration-1 {
  width: 147px;
  height: 147px;
  top: -56px;
  left: -71px;
}

.safe__decoration-2 {
  width: 77px;
  height: 77px;
  bottom: 92px;
  right: -38px;
}

.safe__decoration-3 {
  width: 77px;
  height: 77px;
  bottom: -5px;
  left: -39px;
}

.stats {
  margin-top: 130px;
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats__block {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
  width: 654px;
  min-height: 117px;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  background-color: #FFF;
}

.stats__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__title {
  font-family: "Rubik-Bold";
  font-size: 36px;
  line-height: 43px;
  color: var(--accent-color-2);
}

.stats__title:not(:last-child) {
  margin-bottom: 5px;
}

.stats__subtitle {
  font-family: "Rubik-Bold";
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.37em;
}

.stats__decoration-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats__decoration {
  width: 654px;
  position: relative;
}

.stats__decoration-1 {
  top: 75px;
  left: -31px;
  width: 65.75px;
  height: 65.75px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.stats__decoration-2 {
  top: -35px;
  left: 235px;
  width: 96.96px;
  height: 96.96px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
}

.stats__decoration-3 {
  right: -50px;
  width: 127.47px;
  height: 127.47px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.-small {
  border-radius: 16px;
}

.talk {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.talk__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.talk__left {
  width: 500px;
}

.talk__right {
  max-width: 521.17px;
}

.talk__subtitle {
  max-width: 360px;
}

.talk__img {
  width: 521.17px;
  height: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.talk__play {
  position: relative;
  z-index: 2;
  width: 40.79px;
  height: 40.79px;
  background: #587EEC;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.talk__play::after {
  position: absolute;
  z-index: 3;
  display: block;
  content: "";
  border-style: solid;
  border-width: 6.5px 0 6.5px 10px;
  border-color: transparent transparent transparent #ffffff;
}

.popup__video {
  margin-block: 15px;
}

.popup__video iframe {
  width: 720px;
  height: 360px;
}

.healthcare {
  margin-top: 200px;
}

.healthcare__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.healthcare__top:not(:last-child) {
  margin-bottom: 35px;
}

.healthcare__title {
  max-width: 770px;
}

.healthcare__title span {
  color: var(--accent-color-2);
}

.healthcare__subtitle {
  max-width: 600px;
}

.healthcare__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.healthcare__card {
  max-width: 278px;
  min-height: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-block: 35px;
  padding-inline: 17px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
}

.healthcare__card-img:not(:last-child) {
  margin-bottom: 60px;
}

.healthcare__card-title {
  font-family: "Rubik-Bold";
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: var(--dark-color);
}

.healthcare__card-title:not(:last-child) {
  margin-bottom: 4px;
}

.healthcare__decoration {
  position: relative;
}

.healthcare__decoration-1 {
  width: 65.75px;
  height: 65.75px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  left: 15px;
  bottom: -30px;
}

.healthcare__decoration-2 {
  width: 96.96px;
  height: 96.96px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  left: 250px;
  top: -200px;
}

.healthcare__decoration-3 {
  width: 127.47px;
  height: 127.47px;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: 300px;
  top: -100px;
}

.healthcare__decoration-4 {
  width: 65.75px;
  height: 65.75px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: 12px;
  top: -310px;
}

.healthcare__footer {
  margin-top: 70px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
}

@media (min-width: 768px) {
  .nav__burger {
    display: none;
  }
}

@media (max-width: 1440px) {
  .talk__right {
    max-width: 421.17px;
  }

  .talk__img {
    width: 421.17px;
    height: 230px;
  }
}

@media (max-width: 1024px) {
  .header__text-decoration {
    height: 550px;
  }

  .text__left {
    margin-right: 55px;
    max-width: 350px;
  }

  .text__right {
    max-width: 347px;
  }

  .text__img {
    width: 347px;
    height: 250.42px;
  }

  .safe__img {
    width: 204px;
    height: 409px;
  }

  .safe__decoration-bar {
    width: 181px;
    height: 27px;
  }

  .safe__decoration-1 {
    width: 100px;
    height: 100px;
    top: -36px;
    left: -31px;
  }

  .safe__decoration-2 {
    width: 65px;
    height: 65px;
    bottom: 92px;
    right: -28px;
  }

  .safe__decoration-3 {
    width: 65px;
    height: 65px;
    bottom: 0px;
    left: -29px;
  }

  .talk__right {
    max-width: 321.17px;
  }

  .talk__img {
    width: 321.17px;
    height: 175px;
  }

  .healthcare {
    margin-top: 75px;
  }
}

@media (max-width: 903px) {
  .healthcare__decoration-1 {
    left: 15px;
    top: -500px;
  }

  .healthcare__decoration-2 {
    left: 250px;
    top: -200px;
  }

  .healthcare__decoration-3 {
    right: 300px;
    top: -400px;
  }

  .healthcare__decoration-4 {
    right: 24px;
    top: -570px;
  }
}

@media (max-width: 830px) {
  .stats__decoration {
    width: 400px;
  }

  .stats__block {
    width: 400px;
    row-gap: 40px;
  }

  .stats__decoration-2 {
    left: 100px;
  }

  .stats__decoration-3 {
    right: -40px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 790px) {
  .popup__video iframe {
    width: 480px;
    height: 240px;
  }
}

@media (max-width: 767.98px) {
  .nav__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav__links {
    display: none;
  }

  .nav__app-download {
    display: none;
  }

  .nav__burger-ico {
    z-index: 5;
    width: 30px;
    height: 17px;
    position: relative;
    cursor: pointer;
  }

  .nav__burger-ico::before,
  .nav__burger-ico::after {
    z-index: 5;
    content: "";
    width: 30px;
    height: 1px;
    position: absolute;
    background-color: var(--dark-color);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .nav__burger-ico::before {
    top: 0;
  }

  .nav__burger-ico::after {
    bottom: 0;
  }

  .nav__burger-ico div {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 5;
    width: 30px;
    height: 1px;
    position: absolute;
    margin-top: 8px;
    background-color: var(--dark-color);
  }

  .nav__burger-ico.-active-ico div {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .nav__burger-ico.-active-ico::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .nav__burger-ico.-active-ico::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .nav__burger-menu {
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100vw;
    background-color: var(--accent-color-1);
    overflow: auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .nav__burger-menu.-active {
    left: 0vw;
  }

  .nav__list {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav__list .nav__list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .nav__list .nav__list-item a {
    font-family: "Raleway-Bold";
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: #FFF;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .nav__burger-menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 114px;
    background-color: var(--accent-color-1);
    z-index: 4;
  }

  .header__text-decoration {
    display: none;
  }

  .header {
    margin-top: 10px;
  }

  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
  }

  .text__right {
    max-width: 447px;
  }

  .text__img {
    width: 447px;
    height: 322.42px;
  }

  .text__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-right: 0;
  }

  .text__lower {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .safe {
    margin-top: 80px;
  }

  .safe__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .safe__right {
    width: 100%;
  }

  .safe__img {
    margin-top: 100px;
    width: 179px;
    height: 359px;
  }

  .talk {
    margin-top: 40px;
  }

  .talk__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
  }

  .talk__img {
    width: 521.17px;
    height: 284px;
  }

  .talk__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .talk__right {
    max-width: 521.17px;
  }
}

@media (max-width: 750px) {
  .healthcare__decoration-1 {
    left: 5px;
    top: -540px;
  }

  .healthcare__decoration-2 {
    left: 250px;
    top: -450px;
  }

  .healthcare__decoration-3 {
    right: 50px;
    top: -200px;
  }

  .healthcare__decoration-4 {
    right: 10px;
    top: -570px;
  }
}

@media (max-width: 605px) {
  .healthcare__decoration-1 {
    left: 50px;
    top: -740px;
  }

  .healthcare__decoration-2 {
    left: 100px;
    top: -50px;
  }

  .healthcare__decoration-3 {
    right: 200px;
    top: -350px;
  }

  .healthcare__decoration-4 {
    right: 10px;
    top: -570px;
  }
}

@media (max-width: 600px) {
  .text__decoration {
    border-radius: 15px;
  }

  .safe__decoration-1 {
    width: 70px;
    height: 70px;
    top: -36px;
    left: -31px;
  }

  .safe__decoration-2 {
    width: 45px;
    height: 45px;
    bottom: 92px;
    right: -28px;
  }

  .safe__decoration-3 {
    width: 45px;
    height: 45px;
    bottom: 0px;
    left: -29px;
  }

  .talk__img {
    width: 421.17px;
    height: 290px;
  }
}

@media (max-width: 550px) {
  .stats__decoration {
    width: 290px;
  }

  .stats__block {
    width: 290px;
    row-gap: 40px;
  }

  .stats__decoration-2 {
    left: 130px;
    width: 60px;
    height: 60px;
  }

  .stats__decoration-3 {
    top: 90px;
    right: -40px;
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 540px) {
  .popup__video iframe {
    width: 360px;
    height: 180px;
  }
}

@media (max-width: 500px) {
  .text__img {
    width: 280px;
    height: 203.42px;
  }

  .safe__img {
    width: 149px;
    height: 349px;
  }

  .safe__decoration-bar {
    width: 126px;
  }
}

@media (max-width: 450px) {
  .talk__img {
    width: 221.17px;
    height: 117px;
  }

  .talk__left {
    max-width: 290px;
  }
}

@media (max-width: 425px) {
  .stats__decoration {
    width: 250px;
  }

  .stats__block {
    width: 250px;
    row-gap: 40px;
  }

  .stats__decoration-1 {
    left: -10px;
  }

  .stats__decoration-3 {
    top: 190px;
    right: -10px;
    width: 80px;
    height: 80px;
  }

  .healthcare__decoration-1 {
    left: 20px;
    top: -740px;
  }

  .healthcare__decoration-2 {
    left: 100px;
    top: -50px;
  }

  .healthcare__decoration-3 {
    right: 10px;
    top: -350px;
  }

  .healthcare__decoration-4 {
    right: 10px;
    top: -590px;
  }
}

@media (max-width: 415px) {
  .popup__video iframe {
    width: 100%;
    height: inherit;
  }
}

@media (max-width: 400px) {
  .healthcare__title {
    font-size: 36px;
  }
}

@media (max-width: 375px) {
  .text__title {
    font-size: 36px;
  }

  .safe__title {
    font-size: 36px;
  }
}